.banner {
	padding-top: 250px;
	padding-bottom: 250px;
	background-color: #4be7fc;
}

#servicios-destacados{
	margin: 30px 0;
}

.titulo-seccion {
	text-align: center;
	text-transform: uppercase;
	margin: 15px
}

.titulo-seccion hr{
	border-top: 5px solid #4be7fc;
    max-width: 100px;
}

#banner-medio {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #4be7fc;
	text-align: center;
	background:url(../images/img1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
/*
	.bg-light {
	    background-color: #4be7fc!important;
	}*/

	#menu-principal nav {
		background-color: #4be7fc !important;
	}
	#equipo{
		margin: 30px 0;
	}

	footer{
		background-color: #000;
		padding: 40px;

	}

	footer p{
		color: white;
		font-size: 18px;
	}

	.pd-20 {
		padding: 20px
	}